@use "../../sassStyles/variables";

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: variables.$background;
}

.logoutbtn {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 30px;
  padding: 4px 8px;
  background: red;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  z-index: 100;

  @media only screen and (max-width: 600px) {
    left: 0;
    right: inherit;
    margin-left: 10px;
    margin-top: 10px;
  }
}
