.singlepage {
  height: 560px;
  width: 100%;
  background: top center/cover no-repeat;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(27, 42, 90, 0),
      rgba(27, 42, 90, 1)
    );
    z-index: 1;
  }

  .singlepage__inner {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;

    .singlepage__inner__description {
      padding: 32px 0 32px 88px;
      max-width: 72.6%;

      h1 {
        font-size: 40px;
        color: white;
        text-transform: uppercase;
      }
      @media only screen and (max-width: 600px) {
        h1 {
          font-size: 22px;
        }
      }

      .article__desc-box__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 20px;
        }

        .article__desc-box__bottom__left {
          h4 {
            text-transform: uppercase;
            color: white;
            font-weight: 500;
            transition: all 0.3s;
            display: inline-block;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }

            span {
              text-transform: lowercase;
              color: gray;
              font-weight: 400;
              margin-left: 4px;

              &:hover {
                cursor: default;
              }
            }
          }
        }

        .article__desc-box__bottom__right {
          display: flex;

          .article__desc-box__bottom__right__single {
            margin-left: 10px;

            display: flex;
            align-items: center;

            img {
              width: 18px;
              cursor: default;
            }

            p {
              color: gray;
              font-size: 14px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}

.singlepage__description {
  margin: 16px 0;

  p {
    font-size: 25px;

    @media only screen and (max-width: 600px) {
      font-size: 16px;
      margin: 12px;
    }
  }
}

.editbtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;

  img {
    background-color: black;
    border-radius: 20%;
    padding: 4px;
    width: 40px;
  }
}
