@use "../../sassStyles/variables";

.editpage {
  background: variables.$background;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    background: white;
    display: inline-block;
    width: 440px;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    input,
    textarea {
      width: 400px;
      border: 1px solid black;
      border-radius: 3px;
      padding: 8px 12px;
      font-size: 16px;
    }

    textarea {
      height: 200px;
    }

    button {
      padding: 8px;
      border: none;
      border-radius: 3px;
      background: rgb(0, 184, 0);
      color: white;
      cursor: pointer;
      font-size: 18px;
    }
  }
}
