@use "../../sassStyles/variables";

.article {
  width: 80%;
  margin: 0 auto;
  background: variables.$cardbackground;
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  position: relative;

  display: flex;

  .article__img-box {
    overflow: hidden;
    width: 30%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 0 100%);
    border-radius: 3px;
  }

  img {
    width: 100%;
    transition: transform 0.3s ease;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 0 100%);
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  .article__desc-box {
    width: 70%;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .article__desc-box__top {
      h3 {
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
          color: variables.$titlehover;
        }
      }

      p {
        color: gray;
        margin-top: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .article__desc-box__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .article__desc-box__bottom__left {
        h4 {
          text-transform: uppercase;
          color: blue;
          font-weight: 500;
          transition: all 0.3s;
          display: inline-block;

          &:hover {
            color: #22336f;
            cursor: pointer;
          }

          span {
            text-transform: lowercase;
            color: gray;
            font-weight: 400;
            margin-left: 4px;

            &:hover {
              cursor: default;
            }
          }
        }
      }

      .article__desc-box__bottom__right {
        display: flex;

        .article__desc-box__bottom__right__single {
          margin-left: 10px;

          display: flex;
          align-items: center;

          img {
            width: 18px;
            cursor: default;
          }

          p {
            color: gray;
            font-size: 14px;
            margin-left: 4px;
          }
        }
      }
    }
  }
}

.deletebtn {
  img {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20%;
    padding: 4px;
    width: 30px;
    margin-top: -12px;
    margin-right: -5px;
    z-index: 100;
  }
}

.editbtnnn {
  img {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20%;
    padding: 4px;
    width: 30px;
    margin-top: -12px;
    margin-right: 30px;
    z-index: 100;
  }
}

@media only screen and (max-width: 600px) {
  .article {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .article__img-box {
      width: 100%;
    }

    .article__desc-box {
      width: 100%;

      .article__desc-box__bottom {
        margin-top: 20px;
      }
    }
  }
}
